<section class="footer">
    <section class="footer__info">
        <section class="footer__info-sansstech">
            <p class="footer__info-title">SanssTech</p>
            <a href="#"> <p class="footer__info-text">Terminos y condiciones</p> </a>
            <a href="#"> <p class="footer__info-text">Política de Privacidad</p> </a>
        </section>
        <section class="footer__info-sobrenosotros">
            <p class="footer__info-title">Sobre Nosotros</p>
            <p class="footer__info-text">Contacta con nosotros por Whatsapp!</p>
            <p class="footer__info-text"><i class="pi pi-whatsapp"></i>+57 310 7169403</p>
        </section>
        <section class="footer__info-badges">
            <img src="assets/icons/aws.png" alt="Aws services">
        </section>
    </section>
    <section class="footer__rights">
        <p>SanssTech® 2024. Todos los derechos reservados</p>
        <img src="assets/icons/col.png" alt="bandera de colombia">
    </section>
</section>