.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //background-color: #1D1D1F;
    background-color: #2f2f31;
    height: 230px;
    margin-top: 150px;

    @media (max-width: 1000px) {
        margin-top: 80px;
        height: auto;
        padding: 16px 0 10px 0;
    }

    &__info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: -webkit-fill-available;
        margin-left: 3%;
        margin-right: 3%;

        @media (max-width: 1000px) {
            flex-wrap: wrap;
            align-items: baseline;
        }

        &-title{
            font-size: 25px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 10px;
            color: rgba(252, 248, 248, 0.815);

            @media (max-width: 1000px) {
                font-size: 16px;
            }
        }

        &-text{
            font-size: 16px;
            margin: 0;
            margin-bottom: 10px;
            color: rgba(252, 248, 248, 0.815);

            @media (max-width: 1000px) {
                font-size: 10px;
            }
        }

        &-sansstech{
            display: flex;
            flex-direction: column;
        }

        &-sobrenosotros{
            display: flex;
            flex-direction: column;

            @media (max-width: 1000px) {
                width: 130px;
            }

            i{
                margin-right: 10px;
            }
        }

        &-badges{
            img{
                height: 100px;
                width: auto;

                @media (max-width: 1000px) {
                    height: 50px;
                    margin-top: 20px;
                }
            }
        }
    }

    &__rights{
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
        margin-left: 5%;
        margin-right: 5%;

        p{
            margin: 0;
            font-size: 14px;
            color: rgba(252, 248, 248, 0.815);

            @media (max-width: 1000px) {
                font-size: 10px;
            }
        }

        img{
            border-radius: 0.5rem;
            height: 25px;
            width: auto;
        }
    }
}