@if (!isMobileView) {
    <section class="header">
        <p-toolbar [style]="{'border': '0px' , 'border-radius': '3rem', 'background-image': 'linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(19,19,19,1) 50%, rgba(0,0,0,1) 100%)' }">
            
            <ng-template pTemplate="start">
                <span class="header__title">SanssTech</span>
            </ng-template>
    
            <ng-template pTemplate="center">
                <div class="header__buttons">
                    <button class="p-link" routerLink=""><i class="pi pi-home"></i></button>
                    <button class="p-link" routerLink="/contacto"><i class="pi pi-user"></i></button>
                    <button class="p-link" routerLink=""><i class="pi pi-search"></i></button>
                </div>
            </ng-template>
    
            <ng-template pTemplate="end">
                <div class="header__endbutton">
                    <p-button class="header__endbutton-butt" label="Ingresar"></p-button>
                </div>
            </ng-template>
    
        </p-toolbar>
    </section>
}@else{
    <section class="header">
        <span class="header__title">SanssTech</span>
        <section class="header__options">
            <button class="header__options-btn" #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
            <p-tieredMenu class="header__options-desplegable" #menu [model]="items" [popup]="true"></p-tieredMenu>
        </section>
    </section>
}

