.header{
    @media (max-width: 1000px) {
        display: flex;
        margin: 5% 5% 15% 5%;
        justify-content: space-between;
        align-items: center;

        &__options{
            &-btn{
                border-radius: 0.6rem;
                font-size: 12px;
                background-color: #000000;
                height: 25px;
            }

            &-desplegable{
                border-radius: 0.6rem;
                font-size: 12px;
                background-color: #000000;
                height: 25px;

                ::ng-deep .p-tieredmenu.p-tieredmenu-overlay{
                    width: 160px;
                    top: 54px !important;
                }
            }
        }
    }



    &__title{
        font-weight: bold;
        font-size: 25px;
        color: white;
    }

    &__buttons{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 30px;

        button{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: white;
            height: 3rem;
            width: 3rem;
            border-radius: 25px;

            &:hover{
                background-color: rgba(255, 255, 255, 0.301);
                transition: all;
                transition-duration: 200ms;
            }

            i{
                font-size: 20px;
            }
        }
    }

    &__endbutton{
        display: flex;

        &-butt{
            ::ng-deep .p-button{
                border-radius: 3rem;
                font-size: 14px;
            }
        }
        
    }
}

