<app-header></app-header>

<main class="flex flex-col justify-center items-center mt-32">
    <section class="text-sanss-blue font-bold text-2xl w-auto">
        Política de Privacidad
    </section>
    <section class="text-white mt-12 md:max-w-2xl lg:max-w-5xl ml-10 mr-10 flex flex-col gap-5 text-pretty">
        <p>SanssTech y su software XXXX (en adelante "ST"). respeta la privacidad de todos sus usuarios y procura mantener 
            segura la información y los datos personales generados a partir de la utilización del Sistema (la “Información”).</p>
        <p>Por la presente, ST informa al usuario qué tipo de información recolecta, cómo la almacena, cuál es la 
            finalidad de su archivo, cómo la protege, cuál es el alcance de su compromiso de confidencialidad y cuáles 
            son los derechos del usuario como titular de la Información.</p>
        <p>La Ley de Protección de los Datos Personales (Ley 1581 de 2012) es una norma de orden público que regula la 
            actividad de las bases de datos que registran información de carácter personal. Su objeto es garantizar a las 
            personas el control del uso de sus datos personales.</p>
        <p>Los usuarios tendrán y deberán hacer uso responsable, y de acuerdo a las leyes aplicables, de su cuenta en 
            el Sitio (www.sansstech.com). En cualquier momento, el usuario podrá solicitar la baja como usuario y la 
            eliminación de su cuenta e información de la base de datos de ST, como así también acceder y actualizar 
            a sus datos personales.</p>
        <p>Los Servicios están permitidos sólo a quienes tengan edad legal para contratar y no se encuentren inhibidos 
            legalmente o de algún modo vedados de ejercer actos jurídicos, derechos y/u obligaciones. Habida cuenta 
            de ello, los menores de 18 años no tienen permitido el ingreso al Sitio y/o los Servicios ni el suministro 
            de ningún dato personal u otro tipo de información.</p>
    </section>
</main>

<app-footer></app-footer>